#homePage, #loginPage{
    -fx-background-image: url('/resources/images/background-home-1.jpg');
}

#chooseCarPage{
    -fx-background-image: url('/resources/images/background-home.jpg');
}

#backgroundBox{
    -fx-fill: rgba(255,255,255, 0.6);
}

#loginPage #loginBtn{
    -fx-background-color: transparent;
}

#chooseCarPage #returnBtn{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 15px;
}

#loginPage #loginBtn:hover, #chooseCarPage #returnBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

#homePage #showScoresBtn, #closeBtn, #chooseCarBtn{
    -fx-background-color: transparent;
}

#homePage #startBtn{
    -fx-background-color: rgba(255,0,0, 0.85);
    -fx-background-radius: 15px;
}

#homePage #startBtn:hover{
    -fx-background-color: rgba(255, 217, 59, 0.8);
    -fx-text-fill: black;
}

#homePage #closeBtn:hover, #homePage #showScoresBtn:hover, #homePage #chooseCarBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}
