#homePage, #loginPage{
    -fx-background-image: url('/resources/images/background-home-1.jpg');
}

#chooseCarPage{
    -fx-background-image: url('/resources/images/background-home.jpg');
}

#loginPage #loginBtn, #chooseCarPage #loginBtn{
    -fx-background-color: transparent;
}

#loginPage #loginBtn:hover, #chooseCarPage #loginBtn:hover {
    -fx-background-color: rgba(255,255,255, 0.8);
}

#homePage #showScoresBtn, #closeBtn, #chooseCarBtn{
    -fx-background-color: transparent;
}

#homePage #startBtn{
    -fx-background-color: rgba(255,0,0, 0.85)
}

#homePage #startBtn:hover{
    -fx-background-color: rgba(255,255,255,0.8);
    -fx-text-fill: red;
}

#homePage #closeBtn:hover, #homePage #showScoresBtn:hover, #homePage #chooseCarBtn:hover {
    -fx-background-color: rgba(255,255,255, 0.8);
}
