#homePage, #loginPage{
    -fx-background-image: url('/images/backgrounds/backgroundScreen2.png');
}

#chooseCarPage, #chooseLevelPage{
    -fx-background-image: url('/images/backgrounds/backgroundScreen1.png');
}

#backgroundBox{
    -fx-fill: rgba(255,255,255, 0.6);
}

/* loginPage */
#loginPage #loginBtn{
    -fx-background-color: transparent;
}

#loginPage #loginBtn:hover, #chooseCarPage #returnBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

/* homePage */
#homePage #showScoresBtn, #closeBtn, #chooseCarBtn{
    -fx-background-color: transparent;
}

#homePage #startBtn{
    -fx-background-color: rgba(255,0,0, 0.85);
    -fx-background-radius: 15px;
}

#homePage #startBtn:hover{
    -fx-background-color: rgba(255, 217, 59, 0.8);
    -fx-text-fill: black;
}

#homePage #closeBtn:hover, #homePage #showScoresBtn:hover, #homePage #chooseCarBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

/* chooseCarPage */
#chooseCarPage #goNextBtn{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 15px;
}

#chooseCarPage #goNextBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
}

#chooseCarPage #cars{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-border-color: black;
}

/* chooseLevelPage */
#chooseLevelPage #startBtn{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 15px;
}

#chooseLevelPage #startBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
}

#chooseLevelPage #levels{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-border-color: black;
}

/* gameOverPage */
#gameOverPage{
    -fx-background-image: url('/resources/images/gifs/game-over.gif');
}

#gameOverPage #quitBtn, #newGameBtn{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 15px;
}

#gameOverPage #quitBtn:hover, #newGameBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

/* gameWinPage */
#gameWinPage{
    -fx-background-image: url('/resources/images/gifs/game-win.gif');
}

#gameWinPage #quitBtn, #startMenuBtn{
    -fx-background-color: rgba(255,255,255, 0.6);
    -fx-background-radius: 15px;
}

#gameWinPage #quitBtn:hover, #startMenuBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

/* gamePlayPage */
#menu {
    -fx-background-color: black;
}

#menu #quitBtn, #pauseBtn{
    -fx-background-color: rgba(195,195,195,0.9);
    -fx-background-radius: 15px;
}

#menu #quitBtn:hover, #pauseBtn:hover {
    -fx-background-color: rgba(255,0,0, 0.6);
    -fx-background-radius: 15px;
}

.popup {
    -fx-pref-height: 45;
    -fx-pref-width: 440;
    -fx-padding: 10;
    -fx-background-radius: 10px;
    -fx-font-family: System Bold;
    -fx-font-size: 16;
    -fx-text-alignment: center;
}
.fuelBottle{
    -fx-background-color: #fd656c;
}

.health{
    -fx-background-color: greenyellow;
}

.doublePts{
    -fx-background-color: #ffd93b;
}

.immortality{
    -fx-background-color: #79b2ff;
}

.armageddonsPower{
    -fx-background-color: #c546ff;
}